<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="<%= softgames_api %>"></script>
  <script src="gameFrontend.js"></script>
</head>
<body style="width: 100%; margin: 0; background: white;">
  <div id="header-banner"></div>
  Welcome to the interactive jsapi-documentation.</br>
  SoftgamesAPI: <span id="ready">Loading...</span><br>
  Methods: 
  <button id="getCurrentUser">getCurrentUser</button>
  <button id="getUsers">getUsers</button>
  <button id="startInvite">startInvite</button>
  <button id="startPayment">startPayment</button>
  <button id="adjustHeight">adjustHeight</button>
  <button id="getTiers">getTiers</button>
  <button id="displayBanner">displayBanner</button>
  <button id="hideAllBanners">hideAllBanners</button><br>
  Result: <span id="result" style="word-wrap: break-word"></span><br>
  <h2>Room name: <%= title %></h2>
  <a href="/ent-bridge">Go to the bridge</a><br>
  <a href="/ent-ready">Go to ready room</a><br>
  <a href="/ent-engine">Go to engine room</a><br>
</body>
</html>
