<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="<%= softgames_api %>"></script>
  <script src="gameFrontend.js"></script>
</head>
<body>
  Welcome to the interactive jsapi-documentation.</br>
  SoftgamesAPI: <span id="ready">Loading...</span><br>
  Methods: 
  <button id="getCurrentUser">getCurrentUser</button>
  <button id="getUsers">getUsers</button>
  <button id="startInvite">startInvite</button>
  <button id="startPayment">startPayment</button><br>
  <button id="adjustHeight">adjustHeight</button><br>
  Result: <span id="result"></span><br>
</body>
</html>
